<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630582413298-has9fcem7hmaiaqu8o3816r0luansmn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630582413298-has9fcem7hmaiaqu8o3816r0luansmn6</string>
	<key>API_KEY</key>
	<string>AIzaSyBUauxG2DpousajlWopGwel5GIIHoOoKZg</string>
	<key>GCM_SENDER_ID</key>
	<string>630582413298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arielhiguera.ManageUp</string>
	<key>PROJECT_ID</key>
	<string>manageup-9f584</string>
	<key>STORAGE_BUCKET</key>
	<string>manageup-9f584.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630582413298:ios:03ea51a497ee56d8970d6b</string>
</dict>
</plist>